* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
html {
  width: 100vw;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto;
  background-color: rgba(41, 182, 246, 0.8);
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  /* border: 1px solid red; */
}
body {
  position: relative;
  width: 100vw;
  min-height: 100%;
  /* border: 1px solid red; */
}
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  pointer-events: none;
}
.shadow {
  -moz-box-shadow: 2px 2px 5px #333333;
  -webkit-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}
